html {
  scroll-behavior: smooth;
}

#nav-form {
  float: right;
}

.mb-5{
  font-family: 'Permanent Marker', cursive;
}

#question{
  font-size: 75px;
}

h1, .mb-0, .container{
  /* font-family: 'Gloria Hallelujah', cursive; */
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
  padding-left: 5px;

}

<<<<<<< HEAD
h2{
  font-size: 45px;
  padding-bottom: 25px;
=======
.navbutton{
    font-family: 'Gloria Hallelujah', cursive;
    margin-right: 15px;
}

.navbar-brand {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 30px;
  margin-left: 15px;

>>>>>>> d715f5e19dbb05911a59aea141b66c8469e43fff
}