html {
  scroll-behavior: smooth;
}

#nav-form {
  float: right;
}

.mb-5{
  font-family: 'Permanent Marker', cursive;
}

#question{
  font-size: 75px;
}

h1, .mb-0, .container{
  /* font-family: 'Gloria Hallelujah', cursive; */
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
  padding-left: 5px;

}

h2{
  font-size: 45px;
  padding-bottom: 25px;
}